.grid {
    display: grid;
    gap: 1.5rem;

    grid-template-columns:
        repeat(auto-fill, minmax(250px, 1fr));
}.grid {
    display: grid;
    gap: 1.5rem;

    grid-template-columns:
        repeat(auto-fill, minmax(250px, 1fr));
}